@import url('https://fonts.googleapis.com/css?family=Poppins:regular,italic,500,500italic,600,600italic,700,700italic');
.container{
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
}
body{
    font-family: 'Poppins';
    color: #24a6d1;
}
#root{
    background-color: #faf8f8;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex-grow: 1;
}